*/test_out/
**/*.sif
**/[!s]*.csv
**/*.out
**/test*
test*
artificial*/
real*/
submit*
*.vcf
**/*.vcf
.tmp
.tmp/
**/*.log
*.log
./snp*
**/*copy*
output_to_send/
get_output*
make_figures/
temp_humza/
*/fig1e*
